# Auto detect text files and normalize line endings to LF
* text=auto
# Code files
*.kt text eol=lf
*.java text eol=lf
*.tsx text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.js text eol=lf
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
# Binary files
*.aar binary
*.apk binary
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
localdrop_andriod/device_apk_extracted/assets/flutter_assets/kernel_blob.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
